.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.navigation .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
}

.navigation .logo-container .nav-links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navigation .logo-container .nav-links-container {
      padding: 10px 15px;
      cursor: pointer;
}

.cart-icon-container {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cart-icon-container .shopping-icon {
    width: 24px;
    height: 24px;
}

  .cart-icon-container .item-count {
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    bottom: 12px;
}

body {
  background-color: #F8E5E5;
}

div .card {
  background-color:  #C39EA0;
  color: #F8E5E5;
  border-color: #C39EA0;
  padding: 10px;
  margin: 10px;
  margin-top: 10px;
  text-align: center;
  font-weight: 100;
  font-size: 25px;
   ;
}

div .cart-donation-card {
  background-color: #F8E5E5; 
  color: #C39EA0;
  border-radius: 25px;
  margin: 10px;
  text-align: center;
  padding: 20px;
  border: 3px solid#C39EA0;
  text-align: center;
}

div .cart-icon-container {
  border-radius: 10px;
  margin: 10px;
  text-align: center;
  padding: 20px;
  border: 2px solid  #C39EA0;
  text-align: center;
}

img {
  border-radius: 10px;
  width:  300px;
  height: 300px;
  object-fit: cover;
  display: flex;
  justify-content: center;
  margin: 10px;
}

h1 { 
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h3 { 
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h4 { 
  display: block;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h5 { 
  display: block;
  font-size: .83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h6 { 
  display: block;
  font-size: .67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

div .billing {
  padding: 10px;
  margin: 10px;
  text-align: center;
}

div .checkout-container {
  padding: 20px;
  margin: 20px;
}

div .homepage {
  justify-content: center;
  display: flex;
  padding: 20px;
  margin: 20px;
}

div .card {
  justify-content: center;
  display: flex;
  padding: 10px;
  margin: 10px;
}

div .admin-login {
  padding: 20px;
  margin: 20px;
}

.card-img {
  align-self: center;
}

div .total-container {
  align-content: center;
  text-align: center;
}

button:disabled
{
  display: none;
}

